<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<widget id          =     "com.ionicframework.myApp"
        version     =    "1.0.0"
        xmlns       =    "http://www.w3.org/ns/widgets"
        xmlns:gap   =    "http://phonegap.com/ns/1.0"
        versionCode =   "1">
  <name>Ionic Doc</name>
  <description>
        Ionic Framework Offline Documentation.
    </description>
  <author email="oduma.e@gmail.com" href="http://www.prytontechnologies.com/">
      Pryton Technologies and Eugene oduma
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
    <icon src="res/icon.png"/>
    <splash src="res/splash.png"/>

  <feature name="InAppBrowser">
    <plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
</feature>
<preference name="phonegap-version" value="cli-6.3.0" />

<plugin name="org.apache.cordova.inappbrowser" spec="0.6.0" source="pgb" />
  <plugin name="com.telerik.plugins.nativepagetransitions" spec="0.2.2" source="pgb" />
</widget>
