<ion-view view-title="Getting Started">
  <ion-content class="container">
  <h2>Start building with Ionic!</h2>
  <h3 style="background:#d3d3d3; color:white; text-align:center;">These three simple steps will have you building high-quality mobile apps in minutes. For a more in-depth overview, watch Ionic's Crash Course video, or take our free online Ionic and Angular course, Appcamp.</h3>
  <h3>Install Ionic</h3>
  <p>First, install Node.js. Then, install the latest Cordova and Ionic command-line tools. Follow the Android and iOS platform guides to install required platform dependencies.</p>
  <p><strong>Note</strong>: iOS development requires Mac OS X. iOS simulator through the Ionic CLI requires the ios-sim npm package, which can be installed with the command sudo npm -g install ios-sim.</p>
  <pre>$ npm install -g cordova ionic</pre>
  <p>Ionic strongly recommends visual studio community for windows users which comes with everything required for development.</p>
  <h3>Start a project</h3>
  <p>Create an Ionic project using one of Ionic's ready-made app templates, or a blank one to start fresh.</p>
  <pre>$ ionic start myApp tabs</pre>
  <p>Blank template</p>
  <pre>$ ionic start myApp blank</pre>
  <p>Side menu template</p>
   <pre>$ ionic start myApp sidemenu</pre>
   <h3>Run It</h3>
   <p> Use the Ionic tool to build, test, and run your apps (or use Cordova directly).</p>

<p>Then, try Ionic View to share your apps with testers and clients or to easily test on new devices.</p>
<h2>IOS build</h2>
<pre>
$ cd myApp
$ ionic platform add ios
$ ionic build ios
$ ionic emulate ios
</pre>
<h2>Android Build</h2>
<pre>
$ cd myApp
$ ionic platform add android
$ ionic build android
$ ionic emulate android
</pre>
<h3>Happy development!</h3>
<!-- footer -->
<div class="pre-footer">
<p>The App echoes <a href="#" onclick="window.open('https://ionicframework.com', '_system', 'location=yes');">Ionic Framework's</a> docs with few modifications </p>

<p>Build with much love by <a href="#" onclick="window.open('https://twitter.com/eugene_oduma', '_system', 'location=yes');"> @eugeneOduma90 </a>from Pryton Technologies</p>
<p>Licensed under Apache 2 By <a href="#" onclick="window.open('https://ionicframework.com', '_system', 'location=yes');">Ionic Framework</a></p>
</div>









  </ion-content>
</ion-view>
