<ion-view> 


<ion-content class="splash padding">
<div class="branding">
<img src="img/ionicdoc.png" alt="Ionic offline Documentation">
<!-- <div class="tagline light"> <h2> Making Disciples of All Nations</h2></div>  -->
</div>
 <p class=" tagline light">Ionic offline documentation</p>
<!-- <p class="light">Follow </p> -->

  <div class="button-bar">
  <button class="icon   ion-social-twitter button button-calm" onclick="window.open('https://twitter.com/eugene_oduma', '_system', 'location=yes'); return false;"></button>
  <button class="icon  ion-social-facebook button button-positive" onclick="window.open('http://facebook.com/eugene.Hnantek', '_system', 'location=yes'); return false;"></button>
  <button class="icon  ion-android-globe button button-assertive" onclick="window.open('http://www.prytontechnologies.com', '_system', 'location=yes'); return false;"></button>
  </div>
  
  </ion-content>
</ion-view>