<ion-view view-title="HTML">
  <ion-content class=container>
<h1>HTML Input Types</h1>
    <p>Phones and tablets do not have the benefit most desktops and laptops do, which is a large input device called the "keyboard". Virtual keyboards offered by mobile devices are physically smaller and usually more tedious to operate, but the great news is that HTML5 has already standardized a handful of input types which make them easier to use.</p>

	<p>Taking advantage of the various HTML5 input types is extremely beneficial to the overall user experience of your app. It’s a small detail web app developers should be aware of, and with just minimal effort it makes a massive positive impact on the way your user interacts with forms. For example, if the user needs to enter a telephone number into your app, then their virtual keyboard should show a telephone keypad instead of keyboard with characters they'll never need to enter.</p>

	<p>Not every input's expected data type is the same, and as such, it’s important to know which input to use and when. We’ve listed all the currently supported input types (links on the left) to help you when designing great app experiences.</p>

	<p><strong>Note:</strong> The virtual keyboard examples to the right are only images, and not actual working keyboards.</p>
<!-- text -->
<h3 class="title">Text</h3>
	<p>First up is the Text Input, the most common input type used. The code is pretty standard, and if you’re used to web development this input isn’t anything new. This is also the fallback if a device does not support a certain HTML input type.</p>
	<pre>
&lt;div class=&quot;row responsive-sm&quot;&gt;
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Username&lt;/span&gt;
	&lt;input type=&quot;text&quot;&gt;
&lt;/label&gt;
	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <span class="input-label">Username</span>
		  <input type="text">
		</label>
	</div>
	
	<!-- email -->
<h3>Email</h3>
	<p>The <strong>Email Input</strong> should be used anytime you require a user to enter an email address. It’s important to take advantage of this input type because it offers a much smoother keyboard experience, displaying the <code>@</code> and <code>.</code> characters within the initial keypad for quicker typing.</p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Email&lt;/span&gt;
	&lt;input type=&quot;email&quot;&gt;
&lt;/label&gt;</pre>
	<div class="ionic ionic-exxample">
		<label class="item item-input">
		  <span class="input-label">Email</span>
		  <input type="email">
		</label>
	</div>
	<!-- tel -->
<h3>Tel</h3>
	<p>The <strong>Tel Input</strong> is a very unknown and underused input type. It displays a full numeric keypad, which makes for a great user experience when all that is required from the user is numbers. Take advantage of this one!</p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Telephone&lt;/span&gt;
	&lt;input type=&quot;tel&quot;&gt;
&lt;/label&gt;

	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <span class="input-label">Telephone</span>
		  <input type="tel">
		</label>
	</div>
	<!-- search -->
<h3>Search</h3>
	<p>The <strong>Search</strong> Input doesn’t do anything too different from the text input except change the standard “go” button to read “search” instead.</p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;i class=&quot;icon ion-search placeholder-icon&quot;&gt;&lt;/i&gt;
	&lt;input type=&quot;search&quot; placeholder=&quot;Search&quot;&gt;
&lt;/label&gt;

	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <i class="icon ion-search placeholder-icon"></i>
		  <input type="search" placeholder="Search">
		</label>
	</div>
	<!-- number -->
<h3>Number</h3>
	<p>The <strong>Number Input</strong> is another way to offer numbers for your users. The difference between the number input and the <strong>tel input</strong> is that also offers easy access to special characters and symbols. However, if you only need numbers entered, it’s best to stick with the <strong>tel input.</strong></p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Number&lt;/span&gt;
	&lt;input type=&quot;number&quot;&gt;
&lt;/label&gt;
	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <span class="input-label">Number</span>
		  <input type="number">
		</label>
	</div>
	<!-- date -->
<h3>Date</h3>
	<p>The <strong>Date Input</strong> should be utilized for when a user is asked to enter the month, day, and year. The mobile keyboard will offer a nice interactive panel for easy entering.</p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Date&lt;/span&gt;
	&lt;input type=&quot;date&quot;&gt;
&lt;/label&gt;


	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <span class="input-label">Date</span>
		  <input type="date">
		</label>
	</div>
	<!-- month -->
<h3>Month</h3>
	<p>The <strong>Month Input</strong> will trigger a keyboard experience similar to the date input, however it leaves out the “day” option. Use this input when your user only needs to enter the month and year. A perfect example would be for taking credit card expiration dates.</p>
	<pre>
&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Month&lt;/span&gt;
	&lt;input type=&quot;month&quot;&gt;
&lt;/label&gt;
	</pre>
	<div class="ionic ionic-example">
		<label class="item item-input">
		  <span class="input-label">Month</span>
		  <input type="month">
		</label>
	</div>
	<!-- password -->
<h3>password</h3>
	<p>The <strong>Password Input</strong> is another commonly used input in normal web development. It hides the characters so nobody else can see what the user is typing.</p>

	<p>Also note that it's becoming common practice to give users the option to show actual characters with the text input instead of hidden password characters. It’s up to you to decide if/when it’s applicable to use.</p>
	<pre>
&lt;div class=&quot;ionic ionic-exampe&quot;&gt;
	&lt;label class=&quot;item item-input&quot;&gt;
	&lt;span class=&quot;input-label&quot;&gt;Password&lt;/span&gt;
	&lt;input type=&quot;password&quot;&gt;
&lt;/label&gt;


	</pre>
	<div class="ionic ionic-exampe">
		<label class="item item-input">
		  <span class="input-label">Password</span>
		  <input type="password">
		</label>
	</div>
	<p></p>

	
		
	



    



<!-- footer -->
<div class="pre-footer">
<p>The App echoes <a href="#" onlick="window.open('http://www.ionicframework.com' ','_system');">Ionic Framework's</a> documentation with a few modifications </p>

<p>Built and maintained with much love by <a href="#" onlick="window.open('http://www.twitter.com/eugeneOduma90' ','_system');"> @eugeneOduma90 </a>from Pryton Technologies</p>
<p> Doc licensed under <a href="#" onlick="window.open('http://www.apache.org/licenses/LICENCE-2.0' ','_system');">Apache 2</a> By <a href="#" onlick="window.open('http://ionicframework.com' ','_system');">Ionic Framework</a></p>
<p>Code licensed under <a href="#" onlick="window.open('http://www.opensource.org/licenses/MIT' ','_system');">MIT</a></p>
</div>

  </ion-content>
</ion-view>