<ion-view view-title="Utilities">
  <ion-content class="container">

<h4 style="background:#d3d3d3; color:white; text-align:center;">Use the class names to add ioicons to your App.</h4>
<!-- <div id="icon-panel" style="top: -9999px; left:760px">
<input type="text" id="icon-name" onclick="this.select();"></div> -->
<table class="icons">
	<tr class="icons">
		<td align="center" class="ion-ionic larger" data-rel="popover" data-content="ion-ionic"></td>
		<td align="center" class="ion-arrow-up-a larger"></td>
		<td align="center" class="ion-arrow-right-a larger"></td>
		<td align="center" class="ion-arrow-down-a larger"></td>
		<td align="center" class="ion-arrow-left-a larger"></td>
		<td align="center" class="ion-arrow-up-b larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-arrow-right-b larger"></td>
		<td align="center" class="ion-arrow-down-b larger"></td>
		<td align="center" class="ion-arrow-left-b larger"></td>
		<td align="center" class="ion-arrow-up-c larger"></td>
		<td align="center" class="ion-arrow-right-c larger"></td>
		<td align="center" class="ion-arrow-down-c larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-arrow-left-c larger"></td>
		<td align="center" class="ion-arrow-return-right larger"></td>
		<td align="center" class="ion-arrow-return-left larger"></td>
		<td align="center" class="ion-arrow-swap larger"></td>
		<td align="center" class="ion-arrow-shrink larger"></td>
		<td align="center" class="ion-arrow-expand larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-arrow-move larger"></td>
		<td align="center" class="ion-arrow-resize larger"></td>
		<td align="center" class="ion-chevron-up larger"></td>
		<td align="center" class="ion-chevron-right larger"></td>
		<td align="center" class="ion-chevron-down larger"></td>
		<td align="center" class="ion-chevron-left larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-navicon-round larger"></td>
		<td align="center" class="ion-navicon larger"></td>
		<td align="center" class="ion-drag larger"></td>
		<td align="center" class="ion-log-in larger"></td>
		<td align="center" class="ion-log-out larger"></td>
		<td align="center" class="ion-checkmark-round larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-checkmark larger"></td>
		<td align="center" class="ion-checkmark-circled larger"></td>
		<td align="center" class="ion-close-round larger"></td>
		<td align="center" class="ion-close larger"></td>
		<td align="center" class="ion-close-circled larger"></td>
		<td align="center" class="ion-plus-round larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-plus larger"></td>
		<td align="center" class="ion-plus-circled larger"></td>
		<td align="center" class="ion-minus-round larger"></td>
		<td align="center" class="ion-minus larger"></td>
		<td align="center" class="ion-minus-circled larger"></td>
		<td align="center" class="ion-information larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-information-circled larger"></td>
		<td align="center" class="ion-help larger"></td>
		<td align="center" class="ion-help-circled larger"></td>
		<td align="center" class=" ion-backspace-outline larger"></td>
		<td align="center" class="ion-backspace larger"></td>
		<td align="center" class="ion-help-buoy larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-asterisk larger"></td>
		<td align="center" class="ion-alert larger"></td>
		<td align="center" class="ion-alert-circled larger"></td>
		<td align="center" class="ion-refresh larger"></td>
		<td align="center" class="ion-loop larger"></td>
		<td align="center" class="ion-shuffle larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-home larger"></td>
		<td align="center" class="ion-search larger"></td>
		<td align="center" class="ion-flag larger"></td>
		<td align="center" class="ion-star larger"></td>
		<td align="center" class="ion-heart larger"></td>
		<td align="center" class="ion-heart-broken larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-gear-a larger"></td>
		<td align="center" class="ion-gear-b larger"></td>
		<td align="center" class="ion-toggle-filled larger"></td>
		<td align="center" class="ion-toggle larger"></td>
		<td align="center" class="ion-settings larger"></td>
		<td align="center" class="ion-wrench larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-hammer larger"></td>
		<td align="center" class="ion-edit larger"></td>
		<td align="center" class="ion-trash-a larger"></td>
		<td align="center" class="ion-trash-b larger"></td>
		<td align="center" class="ion-document larger"></td>
		<td align="center" class="ion-document-text larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-clipboard larger"></td>
		<td align="center" class="ion-scissors larger"></td>
		<td align="center" class="ion-funnel larger"></td>
		<td align="center" class="ion-bookmark larger"></td>
		<td align="center" class="ion-email larger"></td>
		<td align="center" class="ion-email-unread larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-folder larger"></td>
		<td align="center" class="ion-filing larger"></td>
		<td align="center" class="ion-archive larger"></td>
		<td align="center" class="ion-reply larger"></td>
		<td align="center" class="ion-reply-all larger"></td>
		<td align="center" class="ion-forward larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-share larger"></td>
		<td align="center" class="ion-paper-airplane larger"></td>
		<td align="center" class="ion-link larger"></td>
		<td align="center" class="ion-paperclip larger"></td>
		<td align="center" class="ion-compose larger"></td>
		<td align="center" class="ion-briefcase larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-medkit larger"></td>
		<td align="center" class="ion-at larger"></td>
		<td align="center" class="ion-pound larger"></td>
		<td align="center" class="ion-quote larger"></td>
		<td align="center" class="ion-cloud larger"></td>
		<td align="center" class="ion-upload larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-more larger"></td>
		<td align="center" class="ion-grid larger"></td>
		<td align="center" class="ion-calendar larger"></td>
		<td align="center" class="ion-clock larger"></td>
		<td align="center" class="ion-compass larger"></td>
		<td align="center" class="ion-pinpoint larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-pin larger"></td>
		<td align="center" class="ion-navigate larger"></td>
		<td align="center" class="ion-location larger"></td>
		<td align="center" class="ion-map larger"></td>
		<td align="center" class="ion-lock-combination larger"></td>
		<td align="center" class="ion-locked larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-unlocked larger"></td>
		<td align="center" class="ion-key larger"></td>
		<td align="center" class="ion-arrow-graph-up-right larger"></td>
		<td align="center" class="ion-arrow-graph-down-right larger"></td>
		<td align="center" class="ion-arrow-graph-up-left larger"></td>
		<td align="center" class="ion-arrow-graph-down-left larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-stats-bars larger"></td>
		<td align="center" class="ion-connection-bars larger"></td>
		<td align="center" class="ion-pie-graph larger"></td>
		<td align="center" class="ion-chatbubble larger"></td>
		<td align="center" class="ion-chatbubble-working larger"></td>
		<td align="center" class="ion-chatbubbles larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-chatbox larger"></td>
		<td align="center" class="ion-chatbox-working larger"></td>
		<td align="center" class="ion-chatboxes larger"></td>
		<td align="center" class="ion-person larger"></td>
		<td align="center" class="ion-person-add larger"></td>
		<td align="center" class="ion-person-stalker larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-woman larger"></td>
		<td align="center" class="ion-man larger"></td>
		<td align="center" class="ion-female larger"></td>
		<td align="center" class="ion-male larger"></td>
		<td align="center" class="ion-transgender larger"></td>
		<td align="center" class="ion-fork larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-knife larger"></td>
		<td align="center" class="ion-spoon larger"></td>
		<td align="center" class="ion-soup-can-outline larger"></td>
		<td align="center" class="ion-soup-can larger"></td>
		<td align="center" class="ion-beer larger"></td>
		<td align="center" class="ion-wineglass larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-coffee larger"></td>
		<td align="center" class="ion-icecream larger"></td>
		<td align="center" class="ion-pizza larger"></td>
		<td align="center" class="ion-power larger"></td>
		<td align="center" class="ion-mouse larger"></td>
		<td align="center" class="ion-battery-full larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-battery-half larger"></td>
		<td align="center" class="ion-battery-low larger"></td>
		<td align="center" class="ion-battery-empty larger"></td>
		<td align="center" class="ion-battery-charging larger"></td>
		<td align="center" class="ion-wifi larger"></td>
		<td align="center" class="ion-bluetooth larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-calculator larger"></td>
		<td align="center" class="ion-camera larger"></td>
		<td align="center" class="ion-eye larger"></td>
		<td align="center" class="ion-eye-disabled larger"></td>
		<td align="center" class="ion-flash larger"></td>
		<td align="center" class="ion-flash-off larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-qr-scanner larger"></td>
		<td align="center" class="ion-image larger"></td>
		<td align="center" class="ion-images larger"></td>
		<td align="center" class="ion-wand larger"></td>
		<td align="center" class="ion-contrast larger"></td>
		<td align="center" class="ion-aperture larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-crop larger"></td>
		<td align="center" class="ion-easel larger"></td>
		<td align="center" class="ion-paintbrush larger"></td>
		<td align="center" class="ion-paintbucket larger"></td>
		<td align="center" class="ion-monitor larger"></td>
		<td align="center" class="ion-laptop larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-ipad larger"></td>
		<td align="center" class="ion-iphone larger"></td>
		<td align="center" class="ion-ipod larger"></td>
		<td align="center" class="ion-printer larger"></td>
		<td align="center" class="ion-usb larger"></td>
		<td align="center" class="ion-outlet larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-bug larger"></td>
		<td align="center" class="ion-code larger"></td>
		<td align="center" class="ion-code-working larger"></td>
		<td align="center" class="ion-code-download larger"></td>
		<td align="center" class="ion-fork-repo larger"></td>
		<td align="center" class="ion-network larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-pull-request larger"></td>
		<td align="center" class="ion-merge larger"></td>
		<td align="center" class="ion-xbox larger"></td>
		<td align="center" class="ion-playstation larger"></td>
		<td align="center" class="ion-steam larger"></td>
		<td align="center" class="ion-closed-captioning larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-videocamera larger"></td>
		<td align="center" class="ion-film-marker larger"></td>
		<td align="center" class="ion-disc larger"></td>
		<td align="center" class="ion-headphone larger"></td>
		<td align="center" class="ion-music-note larger"></td>
		<td align="center" class="ion-radio-waves larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-speakerphone larger"></td>
		<td align="center" class="ion-mic-a larger"></td>
		<td align="center" class="ion-mic-b larger"></td>
		<td align="center" class="ion-mic-c larger"></td>
		<td align="center" class="ion-volume-high larger"></td>
		<td align="center" class="ion-volume-medium larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-volume-low larger"></td>
		<td align="center" class="ion-volume-mute larger"></td>
		<td align="center" class="ion-levels larger"></td>
		<td align="center" class="ion-play larger"></td>
		<td align="center" class="ion-pause larger"></td>
		<td align="center" class="ion-stop larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-record larger"></td>
		<td align="center" class="ion-skip-forward larger"></td>
		<td align="center" class="ion-skip-backward larger"></td>
		<td align="center" class="ion-eject larger"></td>
		<td align="center" class="ion-bag larger"></td>
		<td align="center" class="ion-card larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-cash larger"></td>
		<td align="center" class="ion-pricetag larger"></td>
		<td align="center" class="ion-pricetags larger"></td>
		<td align="center" class="ion-thumbsup larger"></td>
		<td align="center" class="ion-thumbsdown larger"></td>
		<td align="center" class="ion-happy-outline larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-happy larger"></td>
		<td align="center" class="ion-sad-outline larger"></td>
		<td align="center" class="ion-sad larger"></td>
		<td align="center" class="ion-bowtie larger"></td>
		<td align="center" class="ion-tshirt-outline larger"></td>
		<td align="center" class="ion-tshirt larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-trophy larger"></td>
		<td align="center" class="ion-podium larger"></td>
		<td align="center" class="ion-ribbon-a larger"></td>
		<td align="center" class="ion-ribbon-b larger"></td>
		<td align="center" class="ion-university larger"></td>
		<td align="center" class="ion-magnet larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-beaker larger"></td>
		<td align="center" class="ion-erlenmeyer-flask larger"></td>
		<td align="center" class="ion-egg larger"></td>
		<td align="center" class="ion-earth larger"></td>
		<td align="center" class="ion-planet larger"></td>
		<td align="center" class="ion-lightbulb larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-cube larger"></td>
		<td align="center" class="ion-leaf larger"></td>
		<td align="center" class="ion-waterdrop larger"></td>
		<td align="center" class="ion-flame larger"></td>
		<td align="center" class="ion-fireball larger"></td>
		<td align="center" class="ion-bonfire larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-umbrella larger"></td>
		<td align="center" class="ion-nuclear larger"></td>
		<td align="center" class="ion-no-smoking larger"></td>
		<td align="center" class="ion-thermometer larger"></td>
		<td align="center" class="ion-speedometer larger"></td>
		<td align="center" class="ion-model-s larger"></td>
	</tr>
	<tr class="icons">
		<td align="center" class="ion-plane larger"></td>
		<td align="center" class="ion-jet larger"></td>
		<td align="center" class="ion-load-a larger"></td>
		<td align="center" class="ion-load-b larger"></td>
		<td align="center" class="ion-load-c larger"></td>
		<td align="center" class="ion-load-d larger"></td>
	</tr>
	
</table>
<h3>IOS Icons</h3>
<!-- footer -->
<div class="pre-footer">
<p>The App echoes <a href="#" onlick="window.open('http://www.ionicframework.com' ','_system');">Ionic Framework's</a> documentation with a few modifications </p>

<p>Built and maintained with much love by <a href="#" onlick="window.open('http://www.twitter.com/eugeneOduma90' ','_system');"> @eugeneOduma90 </a>from <a href="#" onlick="window.open('http://www.prytontechnologies.com' ','_system');">Pryton Technologies</a></p>
<p> Doc licensed under <a href="#" onlick="window.open('http://www.apache.org/licenses/LICENCE-2.0' ','_system');">Apache 2</a> By <a href="#" onlick="window.open('http://ionicframework.com' ','_system');">Ionic Framework</a></p>
<p>Code licensed under <a href="#" onlick="window.open('http://www.opensource.org/licenses/MIT' ','_system');">MIT</a></p>
</div>

    
	





  </ion-content>
</ion-view>
